body{
    background-color:#2d5a7b96;
    width: 100%;
    height: 100%;
    position: relative;
}
/* #all {
    background-image: linear-gradient(#dfe9f3,#ffffff);
} */
h1{
    text-align: center;
    font-weight: bold;
    color: #cfa181;
}
h3 {
    font-size: 22px;
    font-weight: bold;
    color: #195357ee;
    /* text-align: center; */
}
.addform{
    position: absolute;
    left: 20%;
    width: 60%;
    /* border: 3px solid whitesmoke; */
    padding: 25px;
}
input{
    width: 55%;
    height: 20px;
    padding: 4px;
}
label{
    width: 95%;
    display: block;
    text-align: left;
    font-size: 18px;
}
.connitem {
    height: 200px;
}
#modname{
    width: 35%;
}
#status {
    width: 25%;
}
#sub {
    position: absolute;
    left: 50%;
    width: 20%;
}
#modType{
    width: 30%;
}
#modConn{
    width: 30%;
}
#fRate {
    width: 15%;
}