body {
    background-color: rgba(38, 149, 171, 0.473);
}
.password {
    color: #716e77;
    font-size: 24px;
}
label {
    /* color: #ffb6b9; */
    /* width: 95%; */
    display: inline;
    text-align: left;
    font-size: 20px;
}
#username {
    /* width: 10%; */
    height: 25px;
    /* padding: 2%; */
}

